* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Colors */
    --primary-bg-color: #222222;

    --primary-text-color: #DEE4E7;
    --secondary-text-color: #A9A9A9;

    --home-city-color: #E27D60;
    --publication-city-color: #41B3A3;

    --color-danger: #FC4445;

    /* Sub Headings */
    --sub-heading-font-size: 1.2rem;
    --sub-heading-font-weight: 700;
    --sub-heading-spacing-bottom: 16px;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    overflow-y: hidden;
}

.page-header,
#map,
aside,
#error-toast {
    position: absolute
}

.page-header {
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-65px);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    z-index: 2;
}

.page-header h1 {
    padding: 16px;
    font-size: 1.5rem;
    margin-right: 20%;
    text-align: center;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
}

aside {
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    transform: translateX(100%);
    background-color: var(--primary-bg-color);
    overflow-y: scroll;
    z-index: 4;
}

form fieldset {
    border: 0;
    text-align: end;
    padding: 16px;
}

form legend {
    font-size: var(--sub-heading-font-size);
    font-weight: var(--sub-heading-font-weight);
    padding-top: 24px;
    width: 100%;
}

form label {
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: block;
}

form select {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 24px;
    display: inline-block;
}

.data-legend {
    display: block;
    padding: 16px;
    text-align: end;
}

.data-legend h2 {
    font-size: var(--sub-heading-font-size);
    font-weight: var(--sub-heading-font-weight);
    margin-bottom: var(--sub-heading-spacing-bottom);
    display: block;
}

.data-legend ul {
    list-style-type: none;
}

.data-legend li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
}

.data-legend li + li {
    margin-top: 16px;
}

.data-legend-icon {
    height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
}

.data-legend-icon--home-city {
    background-color: var(--home-city-color);
}

.data-legend span {
    max-width: 70%;
    display: block;
}

svg:not(#scale-svg) {
    position: absolute;
    width: 100%;
    height: 100%;
}

.line {
    fill: none;
    transition: 0.3s stroke-width, 0.3s stroke;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.line--visible {
    stroke-width: 3;
}

.city {
    stroke-width: 5;
    cursor: pointer;
    transition: 0.3s all;
}

.city:hover,
.city--active {
    stroke-width: 10;
}

.city--main,
.city--main:hover {
    stroke-width: 5;
    fill: var(--home-city-color);
    stroke: var(--home-city-color);
}

.information-section {
    padding: 16px;
}

.information-section h2 {
    font-size: var(--sub-heading-font-size);
    font-weight: var(--sub-heading-font-weight);
    text-align: end;
}

.information-section ul {
    list-style-type: none;
    padding-top: 16px;
    padding-left: 10%;
}

.information-section li {
    text-align: right;
    max-height: 150px;
    overflow-y: scroll;
}

.information-section li + li {
    margin-top: 8px;
}

.information-section li h3 {
    font-size: .9rem;
    font-weight: 700;
    position: sticky;
    margin-bottom: 4px;
    top: 0;
    background-color: var(--primary-bg-color);
}

.information-section li span {
    color: var(--secondary-text-color);
    font-size: .8rem;
    display: block;
}

.data-list.data-list--multiple span {
    max-width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    will-change: white-space;
    transition: all 300ms;
}

.data-list.data-list--multiple span:hover {
    white-space: unset;
    color: var(--primary-text-color);
}

.data-list.data-list--multiple span + span {
    margin-top: 4px;
}

#error-toast {
    bottom: -34px;
    left: 40%;
    transform: translateX(-40%);
    background-color: var(--color-danger);
    padding: 4px 16px;
    border-radius: 4px 4px 0 0;
}

#legend-item--scale {
    flex-direction: column;
    align-items: unset;
}

#legend-item--scale div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

#legend-item--scale h3 {
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: 4px;
}